<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user update</title>
</head>
<body>
    <div>
        <h1>Update the Name of User</h1>
        <form method="post">
            <input type="text" name="name" placeholder="enter new name">
            <button type="submit">make changes</button>
        </form>
        
    </div>
    
</body>
</html>